<h1>Debian Perl Group</h1>
 
<h2>How-To Guides</h2>

<p>
  This directory contains various how-to guides for the Debian Perl Group.
  Guides in this directory may be the personal opinion of one of the team
  members and don't have the weight of team policy.
</p> 
 
